@import "../../sass/abstracts/variables";
@import "../../sass/components/global";

.cardPaymentWrapper {

    .top {
        font-size: $textSemiMedium;
        font-weight: $fontSemiBold;
    }

    .noSupport {
        margin: 0.5rem 0;
        color: $primary;
        font-size: $textSmall;
    }

    .debitForm {
        border-top: 1px solid #BEB8B8;
        border-left: 1px solid #BEB8B8;
        padding-top: 1rem;
        padding-left: 1rem;
        .group {
            @extend %flex;
            margin-bottom: 2rem;

            label {
                @extend %label;
            }

            .cardDetailsGroup {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                width: 46%;
            }

            &.additionalDetails {
                @extend %flex;
                flex-wrap: wrap;
                .additionalDetailsGroup {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    margin-top: 1rem;
    
                    .dateSelector {
                        @extend %input;
                        height: 2.9rem;
                    }
                    
                }
           
            }

            input {
                @extend %input;
                height: 2.7rem
            }
        }

        .verifyBtn {
            @extend %formBtn;
            width: 70%;
            height: 2.7rem;
            margin: 5rem auto 0 auto;
        }
    }

}